@import url("https://fonts.googleapis.com/css2?family=Abel&family=Noto+Serif:ital@0;1&family=Unica+One&display=swap");

/* Globals */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Noto Serif", serif;
}

body {
  font-size: 1em;
  user-select: none;
}

h1,
h2,
h3 {
  font-family: "Unica One", cursive;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(12px);
  width: 100vw;
  z-index: 1000;
  padding: 1em 0;
  color: white;
}

header > div {
  justify-self: center;
}

header h1 span {
  font-style: italic;
  color: dimgrey;
}

header h1 span {
  font-style: italic;
  color: dimgrey;
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav ul li > a {
  font-family: "Unica One", cursive;
  font-size: 150%;
}

/* Main */

main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  text-align: center;
}

main section {
  display: grid;
  align-items: center;
  text-align: left;
  padding: 6em 0;
}

main section:nth-child(even) {
  background-color: hsl(0, 0%, 75.3%);
}

main section:nth-child(odd) {
  background-color: hsl(0, 0%, 72.3%);
}

/* Hero */

#hero {
  background-image: url("images/pexels-fauxels-3184454.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  display: grid;
  align-items: center;
}

#hero > div {
  border-radius: 2px;
  background-color: white;
  padding: 6em 8em;
  margin: 0 auto;
  text-align: justify;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#hero > div h2 {
  display: inline-block;
  font-size: 400%;
  line-height: 1;
}

/* About */

#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about > div {
  width: 40vw;
}

#about > div p {
  font-size: 350%;
  color: hsl(0, 0%, 49.3%);
  line-height: 1.05;
}

#about > div div {
  width: 60%;
  margin: 0 auto;
}

#about > div div img {
  width: 100%;
  filter: brightness(1.1) contrast(1.05);
  border: 2px solid hsl(0, 0%, 72.3%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9), 0 0 15px rgba(0, 0, 0, 0.3);
}

#about > div div span {
  font-family: "Abel", sans-serif;
  font-size: 90%;
  color: #222;
}

#about > div div span a {
  text-decoration: underline;
  text-decoration-color: hsl(0, 0%, 83.3%);
  text-underline-offset: 2px;
}
